#### day objectives
- variable declaration 
- data types and conversions
- airthmetic operation by using python
- identation
- how to take input from dynamically
- condition statements in python

In [1]:
print("hello world",end=" ")
print("gd afternoon")
print("hai hello")

hello world gd afternoon
hai hello

### variable declaration

In [2]:
n=4              
n2=n3=n4=n            
print(n,n2,n3,n4)

4 4 4 4

In [3]:
a,b,c=1,2,3
print(a,b,c)

1 2 3

### data types and coversions
- int
- float
- string

In [4]:
n=12
type(n)

int

In [5]:
n2=12.34
type(n2)

float

In [6]:
n3="1233sdfg"
type(n3)

str

In [7]:
n4=12.32      #conversion of float to integer
float(str(int(n4)))

12.0

### arthimatic operation by  using python

In [8]:
n1=4
n2=5
print(n1+n2)      #addition of two numbers
print(n1-n2)
print(n1*n2)
print(n1/n2)       #divisible od two no's(include decimal values)
print(n1//n2)      #divisible of two no's(without including decimal values)
print(n1%n2)       #module of two no's
print(n1**n2)      #power of two no's

9
-1
20
0.8
0
4
1024

### indentation

In [9]:
a=8
b=9
if b>a:
    print(b)

9

In [10]:
n=12
if n%2==0:
    print("even")     ##even or odd
else:
    print("odd")

even

In [11]:
n=int(input())
if n%400==0 and n%100!=0 or n%4==0:
   print("leap")                      ### lewap year 
else:
    print("not a leap")

2015
not a leap

### how to take input from dynamically

In [12]:
n=int(input())
print(n)

3
3

### condition statement in python
- if
- else if
- else
- nested if

In [13]:
n=int(input())
if n>=0 and n<=10:
    print("in range")    ##check if a number exists in a given range
else: 
     print("not in range")

10
in range

In [14]:
n=int(input())
if n%25==0:
    print("multiple by 25")       ##check if a number is multiple by 10
else:
    print("not multiple of 25")

14
not multiple of 25

In [1]:
n=int(input())
if 1000%n==0:
    print("factor")
else:
    print("not a factor")

23
not a factor

In [2]:
#check if given string is equal to ma number
n= int(input())
s= input()
if str(n)==s:
     print("equal")
else:
     print("not equal")

22
31
not equal

In [6]:
y=int(input())
if (y%4==0 and y%100!=0) or (y%400==0):
      print(366*24*60*60*1000*100)
else:
     print("not a leap year")

2016
3162240000000