### day objectives
 ### Data structures
  - lists
  - tuples
  - dictionary

### list
- collection of multiple data
- ordered data structures
- mutablke
- indicated with

In [6]:
l=[1,2,3,4]
l

[1, 2, 3, 4]

In [7]:
l[0]

1

In [8]:
l[-1]

4

In [9]:
l=[124,'prakash','@']
l

[124, 'prakash', '@']

In [10]:
l[1]

'prakash'

In [14]:
l=[1,4,6,8,3]
for i in l:
    print(i)

1
4
6
8
3

In [18]:
m=0
for every_element in l:
    if every_element>m:
        m=every_element
print(m)

8

In [20]:
m=l[0]
for every_element in l:
    if every_element<m:
        m=every_element
print(m)

1

In [39]:
l=[56,34,89,85]
s=0
c=0
for i in l:
    #print(i,end=" ")
    s=s+i
    c=c+1
    #print(s)
    #print(c)
print(s//c)

66

In [40]:
print(sum(l)/len(l))

66.0

In [41]:
max(l)

89

In [42]:
min(l)

34

### l=[2,5,8,53]
- even = vale+1
- odd= square of the value

In [43]:
l=[12,3,4,5]
l[2]=13
l

[12, 3, 13, 5]

In [64]:
l=[1,2,56,3,4,89]
for i in range(len(l)):
    if l[i]%2==0:
        l[i]=l[i]+1
    else:
            l[i]=l[i]**2
print(l)

[1, 3, 57, 9, 5, 7921]

### List methods
      - append (element)

In [69]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l1.append(7.5)
l1

[1, 2, 3, 4, 7.5]

In [72]:
l1.extend(l2)
l1

[1, 2, 3, 4, 7.5, 5, 6, 7, 8, 5, 6, 7, 8]

In [78]:
l1.count(6)

2

In [87]:
l1

[1, 2, 3, 4, 7.5, 5, 6, 7, 5, 6, 7]

In [92]:
l1.remove(19)

ValueError: list.remove(x): x not in list

In [96]:
l1.insert(0,'bhanu')
l1

['bhanu', 'prakash', 'prakash', 'python', 1, 2, 3, 4, 7.5, 5, 7, 5, 6, 7]

In [97]:
l1.pop()

7

In [98]:
l1

['bhanu', 'prakash', 'prakash', 'python', 1, 2, 3, 4, 7.5, 5, 7, 5, 6]

In [99]:
l1.pop(5)

2

In [100]:
l1

['bhanu', 'prakash', 'prakash', 'python', 1, 3, 4, 7.5, 5, 7, 5, 6]

In [102]:
l3=l1
l3

['bhanu', 'prakash', 'prakash', 'python', 1, 3, 4, 7.5, 5, 7, 5, 6]

In [104]:
l1.pop()
l3

['bhanu', 'prakash', 'prakash', 'python', 1, 3, 4, 7.5, 5, 7, 5]

In [106]:
l4=l1.copy()
l4

['bhanu', 'prakash', 'prakash', 'python', 1, 3, 4, 7.5, 5, 7, 5]

In [112]:
l1.remove(7.5)
l1

ValueError: list.remove(x): x not in list

In [113]:
l4

['bhanu', 'prakash', 'prakash', 'python', 1, 3, 4, 7.5, 5, 7, 5]

In [115]:
l=[89,345,123,6836,98,3]
l.sort()

In [116]:
print(l)

[3, 89, 98, 123, 345, 6836]

In [120]:
print(l[::-1])

[6836, 345, 123, 98, 89, 3]

In [127]:
li=sorted(l,reverse=False)
li                                   # ascending order

[3, 89, 98, 123, 345, 6836]

In [128]:
li.clear()
li

[]

### program to print the second largest element in a list

In [131]:
l=[12,3,4,58,46]
l.sort()
l

[3, 4, 12, 46, 58]

In [133]:
l=[1,1,2,3,3,3,6,7]
unique=[]
for i in l:
    if i not in unique:
        unique.append(i)
    print(unique)

[1]
[1]
[1, 2]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 6]
[1, 2, 3, 6, 7]

### Tuple
- ordered
- immutable
- indicated with()

In [135]:
t=(1,2,3,56,68)
t

(1, 2, 3, 56, 68)

In [136]:
for i in t:
    print(i)

1
2
3
56
68

In [137]:
t[3]

56

In [138]:
t[3]=123
t

TypeError: 'tuple' object does not support item assignment

### dictionary
- unordered